<footer class="container-fluid text-center navbar-fixed-bottom">
  <p>Created by Tymoteusz Cierzan &copy; Code available on <a href="https://github.com/ZobekPL/todolist" target="_blank"> Github</a></p>
</footer>
