<div class="row" style="margin-bottom:25px">
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="list-group">
      <li class="list-group-item todo-list-item">Cras justo odio <button class="btn btn-sm btn-danger">Remove</button></li>
      <li class="list-group-item todo-list-item todo-list-item-done">Cras justo odio <button class="btn btn-sm btn-light disabled">Remove</button></li>
      <li class="list-group-item todo-list-item">Cras justo odio <button class="btn btn-sm btn-danger">Remove</button></li>
    </ul>
  </div>
</div>
