<div class="row" style="margin-bottom:25px">
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="list-group">
      <li v-for="(task, index) in tasks"
          v-bind:class="{'task-list-item-done': task.isDone}"
          class="list-group-item task-list-item">
        <input type="checkbox"
               v-bind:checked="task.isDone"
               v-on:change="switchTask(task)"
               class="mg-r-15">
        <span>${ task.title }</span>
        <button v-on:click="removeTask(task, index)"
                class="mg-l-15 btn btn-link btn-sm"
                style="float:right">
                Remove
        </button>
      </li>
    </ul>
  </div>
</div>
