<div class="row" style="margin-bottom:25px">
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="list-group">
      <li v-for="(task, index) in tasks"
          v-bind:class="{'task-list-item-done': task.isDone}"
          class="list-group-item task-list-item">
        <span v-on:click="switchTask(task)">${ task.title }</span>
        <button v-bind:class="{'disabled': task.isDone, 'btn-danger': !task.isDone}"
                v-on:click="removeTask(task, index)"
                class="mg-l-15 btn btn-sm">
                Remove
        </button>
      </li>
    </ul>
  </div>
</div>
