extends layout

block content
  div(id="col")
    header(class="container text-center")
      h1= title
    div(class="container text-center")
      form
        input(type="text" placeholder="What to do...")
        button(type="submit") Add Todo
        
