<div class="container">
  <div class="row mg-b-30">
    <div class="col-sm-6.col-sm-offset-3">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row mg-b-30">
    <from class="col-sm-6 form-inline col-sm-offset-3">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="what do you need to do?">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
  {{> list}}
</div>
