extends layout

block content
  div(id="index")
    header
      h1= title
    div(class="todo-container")
      form
        input(type="text" placeholder="What to do...")
        button(type="submit") Add Todo
        
