.mg-b-30{
  margin-bottom: 30px;
}
.mg-l-15{
  margin-left: 15px;
}

footer{
  background-color: #444444;
  color: white;
  padding-top:15px;
  padding-bottom: 5px;
}

.task-list-item{
  cursor: pointer;
}

.task-list-item-done{
  color: #eeeeee;
  text-decoration-line: line-through;
}
